mat-toolbar {
  padding: 20px;
}

.content {
  min-height: 600px;
}

.firstCol {
  width: 7em;
}

.secondCol {
  width: 3em;
}

mat-grid-tile {
  background: lightblue;
}

.formTimes {
  width: 600px;
}

.times {
  margin-left: 5px;
}

.times.first {
  margin-left: 40px;
}
.inputTime {
  width: 6em;
  height: 30px;
}

.inputDurationVerySmall {
  width: 4em;
}
.inputDurationSmall {
  width: 5em;
}

.inputDuration {
  width: 6em;
  height: 30px;
}

.inputDurationMiddle {
  width: 7em;
}

.inputDurationLong {
  width: 8em;
}

.btn {
  text-decoration: none;
}

.place {
  margin-left: 2em;
}
