<div class="content">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field>
        <input matInput placeholder="Datum" [(ngModel)]="times.date" type="date">
      </mat-form-field>
      <mat-form-field class="place">
        <input matInput placeholder="von" [(ngModel)]="times.homeCar.location" type="text" (ngModelChange)="calculate()">
      </mat-form-field>
      <mat-form-field class="place">
        <input matInput placeholder="bis" [(ngModel)]="times.wkz.location" type="text" (ngModelChange)="calculate()">
      </mat-form-field>
      <button mat-button (click)="calculateOev()" color="primary">
        Weg berechnen
      </button>
      <button mat-button color="primary">
        <a [href]="appleCalendarEventUrl" class="btn" target="_blank">Kalendereintrag</a>
      </button>
      <button mat-button (click)="clear()" color="primary">
        löschen
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--div class="svg" [innerHtml]="wayDistanzSvg | safeHtml" (click)="calculate($event)"> </div-->
  <!-- TODO Dropdown with all planed ol event
  <mat-form-field>
    <mat-select placeholder="OL Events" [(ngModel)]="selectedValue" (change)="changeOl($event.value)">
      <mat-option *ngFor="let event of events.events" [value]="event.id">
        {{event.name}}
      </mat-option>
    </mat-select>
  </mat-form-field-->
  <!-- TODO stepper for enter starttime and other times-->
  <!--a [href]="appleCalendarEventUrl" target="_blank">iCalendar</a-->

  <div>
    <svg
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      width="220mm"
      height="40mm"
      viewBox="0 0 220 40"
      version="1.1"
      id="svg8"
      inkscape:version="0.92.2 5c3e80d, 2017-08-06"
      sodipodi:docname="wegZeitSchema.svg">
      <defs
        id="defs2">
        <marker
          inkscape:isstock="true"
          style="overflow:visible"
          id="marker2182"
          refX="0"
          refY="0"
          orient="auto"
          inkscape:stockid="Arrow2Lend">
          <path
            inkscape:connector-curvature="0"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            id="path2180" />
        </marker>
        <marker
          inkscape:stockid="Arrow2Lend"
          orient="auto"
          refY="0"
          refX="0"
          id="marker1830"
          style="overflow:visible"
          inkscape:isstock="true">
          <path
            inkscape:connector-curvature="0"
            id="path1828"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)" />
        </marker>
        <marker
          inkscape:stockid="Arrow2Lend"
          orient="auto"
          refY="0"
          refX="0"
          id="marker1736"
          style="overflow:visible"
          inkscape:isstock="true">
          <path
            inkscape:connector-curvature="0"
            id="path1734"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)" />
        </marker>
        <marker
          inkscape:stockid="Arrow2Lend"
          orient="auto"
          refY="0"
          refX="0"
          id="marker1642"
          style="overflow:visible"
          inkscape:isstock="true">
          <path
            inkscape:connector-curvature="0"
            id="path1640"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)" />
        </marker>
        <marker
          inkscape:isstock="true"
          style="overflow:visible"
          id="marker1566"
          refX="0"
          refY="0"
          orient="auto"
          inkscape:stockid="Arrow2Lend">
          <path
            inkscape:connector-curvature="0"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            id="path1564" />
        </marker>
        <marker
          inkscape:isstock="true"
          style="overflow:visible"
          id="marker1418"
          refX="0"
          refY="0"
          orient="auto"
          inkscape:stockid="Arrow2Lend">
          <path
            inkscape:connector-curvature="0"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            id="path1416" />
        </marker>
        <marker
          inkscape:isstock="true"
          style="overflow:visible"
          id="marker1098"
          refX="0"
          refY="0"
          orient="auto"
          inkscape:stockid="Arrow2Lend">
          <path
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            id="path1096"
            inkscape:connector-curvature="0" />
        </marker>
        <marker
          inkscape:stockid="Arrow2Lend"
          orient="auto"
          refY="0"
          refX="0"
          id="marker6951"
          style="overflow:visible"
          inkscape:isstock="true"
          inkscape:collect="always">
          <path
            id="path6949"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            inkscape:connector-curvature="0" />
        </marker>
        <marker
          inkscape:isstock="true"
          style="overflow:visible"
          id="marker6645"
          refX="0"
          refY="0"
          orient="auto"
          inkscape:stockid="Arrow2Lend"
          inkscape:collect="always">
          <path
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            id="path6643"
            inkscape:connector-curvature="0" />
        </marker>
        <marker
          inkscape:stockid="Arrow2Lend"
          orient="auto"
          refY="0"
          refX="0"
          id="marker6473"
          style="overflow:visible"
          inkscape:isstock="true"
          inkscape:collect="always">
          <path
            id="path6471"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            inkscape:connector-curvature="0" />
        </marker>
        <marker
          inkscape:stockid="Arrow2Lend"
          orient="auto"
          refY="0"
          refX="0"
          id="marker6091"
          style="overflow:visible"
          inkscape:isstock="true"
          inkscape:collect="always">
          <path
            id="path6089"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            inkscape:connector-curvature="0" />
        </marker>
        <marker
          inkscape:isstock="true"
          style="overflow:visible"
          id="marker5539"
          refX="0"
          refY="0"
          orient="auto"
          inkscape:stockid="Arrow2Lend"
          inkscape:collect="always">
          <path
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            id="path5537"
            inkscape:connector-curvature="0" />
        </marker>
        <marker
          inkscape:isstock="true"
          style="overflow:visible"
          id="marker5341"
          refX="0"
          refY="0"
          orient="auto"
          inkscape:stockid="Arrow2Lend"
          inkscape:collect="always">
          <path
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            id="path5339"
            inkscape:connector-curvature="0" />
        </marker>
        <marker
          inkscape:stockid="Arrow2Lend"
          orient="auto"
          refY="0"
          refX="0"
          id="Arrow2Lend"
          style="overflow:visible"
          inkscape:isstock="true"
          inkscape:collect="always">
          <path
            id="path5070"
            style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
            d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
            transform="matrix(-1.1,0,0,-1.1,-1.1,0)"
            inkscape:connector-curvature="0" />
        </marker>
      </defs>
      <sodipodi:namedview
        id="base"
        pagecolor="#ffffff"
        bordercolor="#666666"
        borderopacity="1.0"
        inkscape:pageopacity="0.0"
        inkscape:pageshadow="2"
        inkscape:zoom="0.9587996"
        inkscape:cx="515.8844"
        inkscape:cy="-91.284779"
        inkscape:document-units="mm"
        inkscape:current-layer="layer1"
        showgrid="false"
        inkscape:window-width="1440"
        inkscape:window-height="851"
        inkscape:window-x="0"
        inkscape:window-y="1"
        inkscape:window-maximized="1" />
      <metadata
        id="metadata5">
        <rdf:RDF>
          <cc:Work
            rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type
              rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            <dc:title />
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <g
        inkscape:label="icons"
        inkscape:groupmode="layer"
        id="layer1"
        transform="translate(0,-257)">
        <g
          id="g4570"
          transform="matrix(0.29912802,0,0,0.29912802,208.26182,286.98615)">
          <path
            id="path4556"
            d="M 12,7.77 18.39,18 H 5.61 L 12,7.77 M 12,4 2,20 h 20 z"
            inkscape:connector-curvature="0" />
          <path
            id="path4558"
            d="M 0,0 H 24 V 24 H 0 Z"
            inkscape:connector-curvature="0"
            style="fill:none" />
        </g>
        <g
          id="g4636"
          transform="matrix(0.29912802,0,0,0.29912802,19.59234,272.58814)">
          <path
            id="path4622"
            d="m 10,20 v -6 h 4 v 6 h 5 v -8 h 3 L 12,3 2,12 h 3 v 8 z"
            inkscape:connector-curvature="0" />
          <path
            id="path4624"
            d="M 0,0 H 24 V 24 H 0 Z"
            inkscape:connector-curvature="0"
            style="fill:none" />
        </g>
        <rect
          style="opacity:0.95;fill:none;fill-opacity:0.66244728;stroke:#000000;stroke-width:0.36858669;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          id="rect4704"
          width="21.467758"
          height="12.194786"
          x="81.212708"
          y="271.27679" />
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          x="88.357056"
          y="277.45468"
          id="text4708"><tspan
         sodipodi:role="line"
         id="tspan4706"
         x="88.357056"
         y="277.45468"
         style="stroke-width:0.299128">WKZ</tspan></text>
        <g
          id="g4824"
          transform="matrix(0.29912802,0,0,0.29912802,50.068671,281.4872)">
          <path
            id="path4810"
            d="M 19,16.94 V 8.5 C 19,5.71 16.39,5.1 12.99,5.01 L 13.75,3.5 H 17 V 2 H 7 v 1.5 h 4.75 L 10.99,5.02 C 7.86,5.11 5,5.73 5,8.5 v 8.44 c 0,1.45 1.19,2.66 2.59,2.97 L 6,21.5 V 22 h 2.23 l 2,-2 H 14 l 2,2 h 2 V 21.5 L 16.5,20 H 16.42 C 18.11,20 19,18.63 19,16.94 Z m -7,1.56 c -0.83,0 -1.5,-0.67 -1.5,-1.5 0,-0.83 0.67,-1.5 1.5,-1.5 0.83,0 1.5,0.67 1.5,1.5 0,0.83 -0.67,1.5 -1.5,1.5 z M 17,14 H 7 V 9 h 10 z"
            inkscape:connector-curvature="0" />
          <path
            id="path4812"
            d="M 0,0 H 24 V 24 H 0 Z"
            inkscape:connector-curvature="0"
            style="fill:none" />
        </g>
        <g
          id="g4840"
          transform="matrix(0.29912802,0,0,0.29912802,50.068671,264.4369)">
          <path
            id="path4826"
            d="M 18.92,6.01 C 18.72,5.42 18.16,5 17.5,5 H 6.5 C 5.84,5 5.29,5.42 5.08,6.01 L 3,12 v 8 c 0,0.55 0.45,1 1,1 h 1 c 0.55,0 1,-0.45 1,-1 v -1 h 12 v 1 c 0,0.55 0.45,1 1,1 h 1 c 0.55,0 1,-0.45 1,-1 V 12 Z M 6.5,16 C 5.67,16 5,15.33 5,14.5 5,13.67 5.67,13 6.5,13 7.33,13 8,13.67 8,14.5 8,15.33 7.33,16 6.5,16 Z m 11,0 C 16.67,16 16,15.33 16,14.5 16,13.67 16.67,13 17.5,13 18.33,13 19,13.67 19,14.5 19,15.33 18.33,16 17.5,16 Z M 5,11 6.5,6.5 h 11 L 19,11 Z"
            inkscape:connector-curvature="0" />
          <path
            id="path4828"
            d="M 0,0 H 24 V 24 H 0 Z"
            inkscape:connector-curvature="0"
            style="fill:none" />
        </g>
        <g
          id="g4967"
          transform="matrix(1.1305626,0,0,1.1305626,7.4087703,252.54067)">
          <rect
            style="opacity:0.95;fill:none;fill-opacity:0.66244728;stroke:#000000;stroke-width:0.20911452;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            id="rect4856"
            width="7.7283845"
            height="10.903382"
            x="120.88684"
            y="16.513935" />
          <g
            transform="matrix(0.26458333,0,0,0.26458333,121.47447,17.101555)"
            id="g4953">
            <path
              inkscape:connector-curvature="0"
              d="M 12,2 C 8.13,2 5,5.13 5,9 c 0,5.25 7,13 7,13 0,0 7,-7.75 7,-13 0,-3.87 -3.13,-7 -7,-7 z m 0,9.5 C 10.62,11.5 9.5,10.38 9.5,9 9.5,7.62 10.62,6.5 12,6.5 c 1.38,0 2.5,1.12 2.5,2.5 0,1.38 -1.12,2.5 -2.5,2.5 z"
              id="path4939" />
            <path
              style="fill:none"
              inkscape:connector-curvature="0"
              d="M 0,0 H 24 V 24 H 0 Z"
              id="path4941" />
          </g>
        </g>
        <g
          id="g5033"
          transform="matrix(0.29912802,0,0,0.29912802,193.7143,273.96023)">
          <path
            id="path5019"
            d="M 14,6 13,4 H 5 v 17 h 2 v -7 h 5 l 1,2 h 7 V 6 Z m 4,8 H 14 L 13,12 H 7 V 6 h 5 l 1,2 h 5 z"
            inkscape:connector-curvature="0" />
          <path
            id="path5021"
            d="M 0,0 H 24 V 24 H 0 Z"
            inkscape:connector-curvature="0"
            style="fill:none" />
        </g>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          x="34.146568"
          y="269.59116"
          id="text5037"><tspan
         sodipodi:role="line"
         id="tspan5035"
         x="34.146568"
         y="269.59116"
         style="stroke-width:0.299128">{{times.car.wayDuration}}'</tspan></text>
        <text
          id="text5045"
          y="287.23972"
          x="34.146568"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="287.23972"
         x="34.146568"
         id="tspan5043"
         sodipodi:role="line">{{times.train.wayDuration}}'</tspan></text>
        <path
          style="fill:none;stroke:#000000;stroke-width:0.29959908;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow2Lend)"
          d="m 27.369668,276.73588 c 22.399873,7.14434 22.399873,7.14434 22.399873,7.14434"
          id="path5047"
          inkscape:connector-curvature="0" />
        <path
          inkscape:connector-curvature="0"
          id="path5337"
          d="M 27.368026,276.45056 C 49.77112,269.39398 49.77112,269.39398 49.77112,269.39398"
          style="fill:none;stroke:#000000;stroke-width:0.29777482;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker5341)" />
        <path
          inkscape:connector-curvature="0"
          id="path5535"
          d="m 56.684215,269.1829 c 22.399873,7.14434 22.399873,7.14434 22.399873,7.14434"
          style="fill:none;stroke:#000000;stroke-width:0.29959908;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker5539)" />
        <path
          style="fill:none;stroke:#000000;stroke-width:0.29777482;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker6091)"
          d="m 56.680994,285.17859 c 22.403094,-7.05658 22.403094,-7.05658 22.403094,-7.05658"
          id="path6087"
          inkscape:connector-curvature="0" />
        <text
          id="text6443"
          y="270.12033"
          x="65.267265"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="270.12033"
         x="65.267265"
         id="tspan6441"
         sodipodi:role="line">{{times.wkz.wayCarDuration}}'</tspan></text>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          x="65.267265"
          y="287.76889"
          id="text6447"><tspan
         sodipodi:role="line"
         id="tspan6445"
         x="65.267265"
         y="287.76889"
         style="stroke-width:0.299128">{{times.wkz.wayTrainDuration}}'</tspan></text>
        <text
          id="text6455"
          y="263.30948"
          x="46.514458"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;opacity:0.98000004;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="263.30948"
         x="46.514458"
         sodipodi:role="line"
         id="tspan2482">{{times.car.output}}</tspan></text>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;opacity:1;fill:#00c500;fill-opacity:1;stroke:none;stroke-width:0.299128"
          x="14.795116"
          y="263.83865"
          id="text6459"><tspan
         sodipodi:role="line"
         id="tspan6457"
         x="14.795116"
         y="263.83865"
         style="fill:#00c500;fill-opacity:1;stroke-width:0.299128">{{times.homeCar.output}}</tspan></text>
        <text
          id="text6463"
          y="293.40167"
          x="14.795116"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;opacity:1;fill:#00c500;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="fill:#00c500;fill-opacity:1;stroke-width:0.299128"
         y="293.40167"
         x="14.795116"
         id="tspan6461"
         sodipodi:role="line">{{times.homeTrain.output}}</tspan></text>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          x="103.88895"
          y="274.60724"
          id="text6467"
          inkscape:transform-center-x="10.583333"
          inkscape:transform-center-y="0.26458333"><tspan
         sodipodi:role="line"
         id="tspan6465"
         x="103.88895"
         y="274.60724"
         style="stroke-width:0.299128">{{times.wkz.output}}</tspan></text>
        <path
          style="fill:none;stroke:#000000;stroke-width:0.31464595px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-end:url(#marker6473)"
          d="m 102.69991,276.70369 c 40.0619,0.29655 40.39576,0.29655 40.39576,0.29655"
          id="path6469"
          inkscape:connector-curvature="0" />
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          x="127.80782"
          y="274.60724"
          id="text6633"><tspan
         sodipodi:role="line"
         id="tspan6631"
         x="127.80782"
         y="274.60724"
         style="stroke-width:0.299128">{{times.depot.wayDuration}}'</tspan></text>
        <path
          inkscape:connector-curvature="0"
          id="path6641"
          d="m 153.14507,277.25429 c 40.61171,0.29558 40.95015,0.29558 40.95015,0.29558"
          style="display:inline;fill:none;stroke:#000000;stroke-width:0.31627932px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-end:url(#marker6645)" />
        <path
          style="fill:none;stroke:#000000;stroke-width:0.37951517px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-end:url(#marker6951)"
          d="m 199.03918,279.86709 9.22264,7.11906"
          id="path6947"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="cc" />
        <text
          id="text7033"
          y="281.9473"
          x="204.36188"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="281.9473"
         x="204.36188"
         id="tspan7031"
         sodipodi:role="line">{{times.start.wayDuration}}'</tspan></text>
        <text
          id="text7037"
          y="274.60724"
          x="178.77501"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="274.60724"
         x="178.77501"
         id="tspan7035"
         sodipodi:role="line">{{times.prestart.wayDuration}}'</tspan></text>
        <text
          inkscape:transform-center-y="0.26458333"
          inkscape:transform-center-x="10.583333"
          id="text7041"
          y="274.60724"
          x="153.49875"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="274.60724"
         x="153.49875"
         id="tspan7039"
         sodipodi:role="line">{{times.depot.output}}</tspan></text>
        <text
          id="svgTrainDeparture"
          y="294.05057"
          x="46.514458"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;opacity:0.98000004;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="294.05057"
         x="46.514458"
         sodipodi:role="line"
         id="tspan2478">{{times.train.output}}</tspan></text>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:#fe0000;stroke-width:0.299128;stroke-opacity:1"
          x="195.02982"
          y="293.18698"
          id="svgStarttime"
          inkscape:transform-center-x="10.583333"
          inkscape:transform-center-y="0.26458333"><tspan
         sodipodi:role="line"
         id="tspan1092"
         x="195.02982"
         y="293.18698"
         style="stroke:#fe0000;stroke-width:0.299128;stroke-opacity:1">{{times.start.output}}</tspan></text>
        <g
          id="g1562"
          transform="matrix(0.26458333,0,0,0.26458333,81.862216,271.96161)">
          <path
            id="path1548"
            d="M 0,0 H 24 V 24 H 0 Z"
            inkscape:connector-curvature="0"
            style="fill:none" />
          <path
            id="path1550"
            d="M 5.5,22 V 14.5 H 4 V 9 C 4,7.9 4.9,7 6,7 h 3 c 1.1,0 2,0.9 2,2 v 5.5 H 9.5 V 22 Z M 18,22 v -6 h 3 L 18.46,8.37 C 18.18,7.55 17.42,7 16.56,7 h -0.12 c -0.86,0 -1.63,0.55 -1.9,1.37 L 12,16 h 3 v 6 z M 7.5,6 c 1.11,0 2,-0.89 2,-2 0,-1.11 -0.89,-2 -2,-2 -1.11,0 -2,0.89 -2,2 0,1.11 0.89,2 2,2 z m 9,0 c 1.11,0 2,-0.89 2,-2 0,-1.11 -0.89,-2 -2,-2 -1.11,0 -2,0.89 -2,2 0,1.11 0.89,2 2,2 z"
            inkscape:connector-curvature="0" />
        </g>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.93888855px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
          x="194.08273"
          y="273.42719"
          id="svgPrestartDeparture"><tspan
         sodipodi:role="line"
         id="tspan2750"
         x="194.08273"
         y="273.42719"
         style="stroke-width:0.26458332">{{times.prestart.output}}</tspan></text>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;opacity:0.98000004;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          x="146.64288"
          y="289.10614"
          id="svgDepotDuration"><tspan
         id="tspan2754"
         sodipodi:role="line"
         x="146.64288"
         y="289.10614"
         style="stroke-width:0.299128">{{times.depot.duration}}'</tspan></text>
        <text
          id="svgWkzLocation"
          y="268.80249"
          x="81.531509"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;opacity:0.98000004;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="268.80249"
         x="81.531509"
         sodipodi:role="line"
         id="tspan2758">{{times.wkz.location}}</tspan></text>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.93888855px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
          x="44.704338"
          y="260.57425"
          id="text997"><tspan
         sodipodi:role="line"
         id="tspan995"
         x="44.704338"
         y="265.02298"
         style="stroke-width:0.26458332"></tspan></text>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          x="1.6176028"
          y="283.74332"
          id="text1001"><tspan
         sodipodi:role="line"
         id="tspan999"
         x="1.6176028"
         y="283.74332"
         style="stroke-width:0.299128">{{times.homeCar.location}}</tspan></text>
        <text
          id="text1005"
          y="289.35641"
          x="88.31086"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="289.35641"
         x="88.31086"
         id="tspan1003"
         sodipodi:role="line">{{times.wkz.duration}}'</tspan></text>
        <text
          id="text1033"
          y="285.22006"
          x="192.10684"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.58372259px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;letter-spacing:0px;word-spacing:0px;opacity:0.98000004;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.299128"
          xml:space="preserve"><tspan
         style="stroke-width:0.299128"
         y="285.22006"
         x="192.10684"
         sodipodi:role="line"
         id="tspan1031">{{times.prestart.duration}}'</tspan></text>
      </g>
    </svg>
  </div>

  <div>
    <mat-form-field appearance="outline" class="times first inputDuration">
      <mat-label>Autofahrt</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.car.wayDuration" (keyup)="calculate();">
    </mat-form-field>
    <mat-form-field appearance="outline" class="times inputDuration">
      <mat-label>zum WKZ</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.wkz.wayCarDuration" (keyup)="calculate();">
    </mat-form-field>
    <mat-form-field appearance="outline" class="times wkz inputDurationSmall">
      <mat-label>WKZ</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.wkz.duration" (keyup)="calculate();">
    </mat-form-field>
    <mat-form-field appearance="outline" class="times inputDuration">
      <mat-label>zum Depot</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.depot.wayDuration" (keyup)="calculate();">
    </mat-form-field>
    <mat-form-field appearance="outline" class="times inputDurationVerySmall">
      <mat-label>Depot</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.depot.duration" (keyup)="calculate();">
    </mat-form-field>
    <mat-form-field appearance="outline" class="times inputDuration">
      <mat-label>zum Vorstart</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.prestart.wayDuration" (keyup)="calculate();">
    </mat-form-field>
    <mat-form-field appearance="outline" class="times inputDurationSmall">
      <mat-label>Vorstart</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.prestart.duration" (keyup)="calculate();">
    </mat-form-field>
    <mat-form-field appearance="outline" class="times inputTime">
      <mat-label>Startzeit</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]="times.start.output" type="time" (keyup)="calculate();">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="times first inputDuration">
      <mat-label>ÖV</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.train.wayDuration" (keyup)="calculate();">
    </mat-form-field>
    <mat-form-field appearance="outline" class="times inputDuration">
      <mat-label>zum WKZ</mat-label>
      <input matInput placeholder="Minuten" [(ngModel)]="times.wkz.wayTrainDuration" (keyup)="calculate();">
    </mat-form-field>
  </div>
  <!--div class="form-group">
    <table>
      <thead>
      <tr>
        <td class="firstCol">
        </td>
        <td class="secondCol">Dauer</td>
        <td class="thirdCol"></td>
        <td class="forthCol">Zeit</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="label">Startzeit</div>
        </td>
        <td><input [(ngModel)]="times.start.wayDuration" class="form-control duration" (keyup)="calculate();"></td>
        <td></td>
        <td><input type="text" [(ngModel)]="times.start.output" class="form-control time" (keyup)="calculate();"></td>
      </tr>
      <tr>
        <td>
          <div class="label">Vorstart</div>
        </td>
        <td><input [(ngModel)]="times.prestart.duration" class="form-control duration" (keyup)="calculate();"></td>
        <td></td>
        <td>{{times.prestart.output}}</td>
      </tr>
      <tr>
        <td></td>
        <td><input [(ngModel)]="times.prestart.wayDuration" class="form-control duration" (keyup)="calculate();"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="label">Depot</div>
        </td>
        <td><input [(ngModel)]="times.depot.duration" class="form-control duration" (keyup)="calculate();"></td>
        <td></td>
        <td>{{times.depot.output}}</td>
      </tr>
      <tr>
        <td></td>
        <td><input [(ngModel)]="times.depot.wayDuration" class="form-control duration" (keyup)="calculate();"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="label">WKZ</div>
        </td>
        <td><input [(ngModel)]="times.wkz.duration" class="form-control duration" (keyup)="calculate();"></td>
        <td></td>
        <td>{{times.wkz.output}}</td>
      </tr>
      </tbody>
    </table>
    <table>
      <tbody>
      <tr>
        <td class="firstCol"><input [(ngModel)]="times.wkz.location" class="form-control label"
                                    (keyup.enter)="searchConnection();"></td>
        <td><input [(ngModel)]="times.wkz.wayCarDuration" class="form-control duration" (keyup)="calculate();"></td>
        <td><input [(ngModel)]="times.wkz.wayTrainDuration" class="form-control duration" (keyup)="calculate();"></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="label">Parkplatz</div>
        </td>
        <td><input [(ngModel)]="times.car.wayDuration" class="form-control duration" (keyup)="calculate();"></td>
        <td><input [(ngModel)]="times.car.duration" class="form-control duration" (keyup)="calculate();"></td>
        <td>{{times.car.output}}</td>
      </tr>
      <tr>
        <td>
          <div class="label">Bahnhof</div>
        </td>
        <td><input [(ngModel)]="times.train.wayDuration" class="form-control duration" (keyup)="calculate();"></td>
        <td><input [(ngModel)]="times.train.duration" class="form-control duration" (keyup)="calculate();"></td>
        <td>{{times.train.output}}</td>
      </tr>
      <tr>
        <td>
          <div class="label">
            <div class="item">Home Car</div>
            <input [(ngModel)]="times.homeCar.location" class="form-control label" (keyup.enter)="searchConnection();">
          </div>
        </td>
        <td></td>
        <td></td>
        <td>{{times.homeCar.output}}</td>
      </tr>
      </tbody>
    </table>
  </div-->
</div>

