<div class="example-container">

  <mat-form-field>
    <input matInput class="place" placeholder="Ort" [(ngModel)]="tick.place">
  </mat-form-field>
  <!--Inout Feld um zu speichern an welchem Ort man gebisen wurde-->

  <mat-form-field>
    <input matInput class="date" [matDatepicker]="picker" ng-model-options="{ timezone: 'gmt' }" placeholder="Choose a date" [(ngModel)]="tick.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <!--wann wurde man gebissen? mit Datepicker-->
  </mat-form-field>

</div>

<mat-slide-toggle class="reminder" [(ngModel)]="tick.reminder">Erinnerung</mat-slide-toggle>
<!--Will man eine Erinnerung-->

<button class='button' mat-raised-button (click)="close()">abbrechen</button>
<!--um Dialog zu schliessen-->
<button class='button' mat-raised-button (click)="save()">sichern</button>
<!--um eingegebene Daten zu sichern-->
