.date {
  padding-top: 1em;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.button {
  display: block;
  border-radius: 8px;
  margin: 10px, 5px;
  width: 50%;
}

.reminder {
  margin: 10px, 5px;
}
