.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 25%;
}

p {
  font-family: sans-serif;
  font-size: 28px;
}

button{
  font-family: sans-serif;
  background-color: #bcd6ff;
}

.list {
  font-family: sans-serif;
}

.tab {
  width:calc(100% / 3);
  background-color: #bcd6ff
}
