.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 25%;
}

p {
  font-family: sans-serif;
  font-size: 28px;
}

button{
  font-family: sans-serif;
  background-color: #bcd6ff;
}

.list {
  font-family: sans-serif;
}

.tab1 {
  width: 33%;
  background-color: #bcd6ff
}

.tab2 {
  width: 33%;
  background-color: #bcd6ff
}

.tab3 {
  width: auto%;
  background-color: #bcd6ff
}

.tickButton {
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-left: 20px;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.graphic {
  height: 95%;
  align-items: center;
}
