
  <mat-tab-group>
  <mat-tab class='tab1' label="Neue Zecke eintragen">
    <div [inlineSVG]="'./src/app/tick/images/manndef.svg'" class='graphic'></div>
    <button class='Button' mat-raised-button (click)="newTick()">neue Zecke eintragen</button>
  </mat-tab>
  <mat-tab class='tab2' label="Liste aller Zecken">
    <app-tick-table [inputTicks]=ticks></app-tick-table>
  </mat-tab>

</mat-tab-group>


<!--TODO tabs > wie dass screen durch drei?? dass es sich anpasst?? evt mit css grid-->
<!--TODO letztes angewähltes tab kommt auch bei neustart als erstes-->
